parameters:
	level: max
	checkMissingIterableValueType: false
	paths:
		- tests
		- app
	excludes_analyse:
	    - app/Http/Middleware/*
	    - app/Providers/*
	    - app/Traits/*
	    - app/Validators/*
	autoload_files:
	    - _ide_helper.php
